{% extends "base.html" %}

{% block body %}
  <!--navigation area starts-->

  <header class="nav-area navbar-fixed-top">
    <div class="container">
        <div class="row">
        <!--main menu starts-->

        <div class="col-md-12">
            <div class="main-menu">
            <div class="navbar navbar-cus">
                <div class="navbar-header">
                <a href="#home" class="navbar-brand smooth-menu"
                    ><span>$$ </span>Works</a
                >
                <button
                    type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>

                <div class="navbar-collapse collapse">
                  <nav>
                      <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#home" class="smooth-menu">Home</a>
                        </li>
                        <li>
                          <a href="#about" class="smooth-menu">About</a>
                        </li>
                        <li>
                            <a href="#services" class="smooth-menu">Services</a>
                        </li>
                        <li>
                            <a href="#portfolio" class="smooth-menu">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact" class="smooth-menu">Contact</a>
                        </li>
                      </ul>
                  </nav>
                </div>
            </div>
            </div>
        </div>

        <!--main menu ends-->
        </div>
    </div>
  </header>

  <!--navigation area ends-->
  
  <!--Slider area starts-->

  <div id="home"></div>
  <div class="banner-area" id="slider-area">
    <div id="particles-js"></div>
    <div class="banner-table">
      <div class="banner-table-cell">
        <div class="welcome-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Smeet Shukla</h2>
                <p class="name-line"></p>
                <h3>Graphic Designer</h3>
                <h3>Photographer</h3>
                <h3>Animator</h3>
                <p class="banner-btn animate-button">
                  <a href="#about" class="custom-btn">Get Started</a>
                </p>
                <div class="clearfix"></div>
                <a href="#about" class="custom-btn">
                  <div class="mouse-icon hidden-sm hidden-xs">
                    <div class="wheel"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--slider area ends-->

  <!--About Area Starts-->

  <div class="about-area section-padding" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="first-headline">About</h2>
            <h3 class="second-headline">My Biodata</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 proPic">
          <img src="/static/images/about/about.jpg" alt="about image" />
          <!--add your image here-->
        </div>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 about-text">
          <h4>Few Words About Me</h4>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cupiditate dolores incidunt suscipit. Delectus dolor eius esse
            explicabo magni omnis porro quo sunt vero voluptas. Deleniti esse,
            exercitationem fugit, minus mollitia nam nostrum obcaecati
            provident quam quos, sapiente similique suscipit unde voluptate.
          </p>

          <p>
            Consectetur dolor sit amet adipisicing elit. Aspernatur aut dolor
            doloribus eligendi eveniet ex exercitationem fugiat illum, iusto
            magni molestiae nihil quas, quo reiciendis sed sequi tempora
            tempore vero vitae voluptas? Ad nulla, voluptate!
          </p>

          <a class="cv-btn" href="/static/images/about/Python Ch-5.pdf" download
            ><i class="fa fa-download"></i>Download CV</a
          >
          <!--give your cv in png,jpg or pdf format-->
        </div>
      </div>
    </div>
  </div>

  <!--About Area Ends-->

  <!--Skills Area Starts-->

  <div class="skills-area">
    <div class="overlay section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header">
              <h2 class="first-headline">About</h2>
              <h3 class="second-headline">My Skills</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="programming-area">
              <div class="row">
                <h2>Software Skills</h2>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="single-program">
                    <div class="progress-circle progress-90">
                      <span>80</span>
                    </div>
                    <h3>Adobe Premiere Pro</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="single-program">
                    <div class="progress-circle progress-70">
                      <span>70</span>
                    </div>
                    <h3>Adobe Photoshop</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="single-program">
                    <div class="progress-circle progress-65">
                      <span>80</span>
                    </div>
                    <h3>Adobe Animate</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="single-program">
                    <div class="progress-circle progress-75">
                      <span>90</span>
                    </div>
                    <h3>Adobe Illustrator</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="single-program">
                    <div class="progress-circle progress-75">
                      <span>70</span>
                    </div>
                    <h3>Autodesk 3ds Max</h3>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="language-skills">
              <div class="row">
                <h2>Language Skills</h2>
                <div class="col-md-12">
                  
                  <div class="skillbar" data-percent="95%">
                    <div class="skillbar-title">English</div>
                    <div class="skill-bar-percent">95%</div>
                    <div class="skillbar-bar" style="width: 95%;"></div>
                  </div>

                  <div class="skillbar" data-percent="95%">
                    <div class="skillbar-title">Hindi</div>
                    <div class="skill-bar-percent">95%</div>
                    <div class="skillbar-bar" style="width: 95%;"></div>
                  </div>

                  <div class="skillbar" data-percent="95%">
                    <div class="skillbar-title">Gujarati</div>
                    <div class="skill-bar-percent">95%</div>
                    <div class="skillbar-bar" style="width: 95%;"></div>
                  </div>

                  <div class="skillbar" data-percent="65%">
                    <div class="skillbar-title">French</div>
                    <div class="skill-bar-percent">65%</div>
                    <div class="skillbar-bar" style="width: 65%;"></div>
                  </div>

                  <div class="skillbar" data-percent="50%">
                    <div class="skillbar-title">Tamil</div>
                    <div class="skill-bar-percent">50%</div>
                    <div class="skillbar-bar" style="width: 50%;"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Skills Area Ends-->

  <!--Resume area starts-->

  <div class="resume-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="first-headline">About</h2>
            <h3 class="second-headline">My Resume</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="education-area">
            <h2 class="text-center">Education</h2>
            <div class="timeline">
              <div class="wrapper right">
                <div class="content">
                  <h3>Bachelor Degree</h3>
                  <h4>SRM University</h4>
                  <h5>2016-2019</h5>
                  <p>Studied Bachelor in Visual Communication</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="experience-area">
            <h2 class="text-center">Experience</h2>
            <div class="timeline">

              <div class="wrapper left">
                <div class="content">
                  <h3>Product Designer</h3>
                  <h4>Parth Polymech, Ahmedabad</h4>
                  <h5>2019 - Present</h5>
                  <p>Working as Product Designer for Elevator Articles.</p>
                </div>
              </div>

              <div class="wrapper right">
                <div class="content">
                  <h3>Digital Marketing</h3>
                  <h4>WebChanakya, Ahmedabad</h4>
                  <h5>2018 - 2019</h5>
                  <p>Completed Internship as a part of University Co-up.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--resume area ends-->

  <!--hire me area starts-->

  <div class="hire-me-area">
    <div class="overlay section-padding">
      <div class="container">
        <div class="row">
          <div
            class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
          >
            <div class="single-hire-me">
              <h2>Hire me for your project</h2>
              <p>
                I am available for Freelance Projects. Hire me and get your
                project Done.
              </p>
              <a
                href="mailto:shuklasmeet@gmail.com"
                class="animate-button custom-btn-two"
                >Hire me</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--hire me area ends-->

  <!--Services Area Starts-->

  <div id="services" class="services-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="first-headline">Services</h2>
            <h3 class="second-headline">What I Offer</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-left">
            <div class="row">
              <div class="col-md-7 col-md-offset-2">
                <div class="services-text-left">
                  <h4>UI/UX DESIGN</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-superpowers"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-right">
            <div class="row">
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-bar-chart"></i>
                </div>
              </div>
              <div class="col-md-7">
                <div class="services-text-right">
                  <h4>WEBDESIGN</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row middle-row">
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-left">
            <div class="row">
              <div class="col-md-7 col-md-offset-2">
                <div class="services-text-left">
                  <h4>WEB DEVELOPMENT</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-bell-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-right">
            <div class="row">
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-area-chart"></i>
                </div>
              </div>
              <div class="col-md-7">
                <div class="services-text-right">
                  <h4>GRAPHICS DESIGN</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-left">
            <div class="row">
              <div class="col-md-7 col-md-offset-2">
                <div class="services-text-left">
                  <h4>SEO MARKETING</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-desktop"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="single-services service-right">
            <div class="row">
              <div class="col-md-3">
                <div class="service-icon">
                  <i class="fa fa-envelope-o"></i>
                </div>
              </div>
              <div class="col-md-7">
                <div class="services-text-right">
                  <h4>PHOTOGRAPHY</h4>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores consequatur, ea laudantium rerum sed
                    temporibus!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Services Area Ends-->

  <!--Statistic area starts-->

  <div class="statistic-area">
    <div class="overlay section-padding"></div>
  </div>

  <!--Statistic area ends-->

  <!--Portfolio Area Starts-->

  <div id="portfolio" class="portfolio section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="first-headline">Portfolio</h2>
            <h3 class="second-headline">My Works</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="portfolio-items list-unstyled" id="grid">
          {% for photo in data %}
              <div
                class="col-md-4 col-sm-6 col-xs-12"
              >
                <figure class="portfolio-item">
                  <a href={{photo["path"]}} class="galleryItem">
                    <img
                      src={{photo["path"]}}
                      alt={{photo["alt"]}}
                      class="img-responsive"
                    />
                    <span class="item-overlay">
                      <i>{{photo["name"]}}</i>
                    </span>
                  </a>
                </figure>
              </div>
          {% endfor %}
        </div>

        <!--end portfolio grid -->
      </div>
      <!--end row -->
    </div>
    <!-- end container-->

    <div class="hire-me-area">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="single-hire-me">
          <div class="animate-button custom-btn-two" style="padding-top: 10px;">
            <a href="/portfolio" style="color: black;" target="blank">See More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Portfolio Area Ends-->

  <!--Quotation area starts-->

  <div class="quotation-area">
    <div class="overlay section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="single-quotation">
              <h2>
                "The best preparation for tomorrow is doing your best today."
              </h2>
              <p>H. Jackson Brown, Jr.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Quotaion area ends-->
{% endblock %}